* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: black;
    height: 50px;
    padding: 10px;
    top: 0;
    justify-content: space-evenly;
}

header div {
    display: flex;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: larger;
    text-shadow: 3px 3px 1px blue,
                 -3px -3px 1px rgb(182, 23, 155);
}

header nav{
    align-content: center;
}

header nav ul {
    display: flex;

    gap: 20px;

}

header nav ul li {
    list-style: none;
    cursor: pointer;
}

header nav ul li a {
    color: rgb(219, 219, 219);
    text-decoration: none;
}